.nav__bar__main {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(17, 17, 17);
    position: relative;
}

.nav__bar__container {
    height: 100px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home__button {
        position: absolute;
        left: 0;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        margin-left: 20px;
        padding: 5px 10px;
        border: 2px solid rgb(122, 65, 65);
        opacity: .8;
        transition: .3s ease-in-out 0s;

        &:hover {
            opacity: 1;
        }
    }


    .nav__bar__container__left {
        height: 100%;
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;



        .search__bar__container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: 100px;

            .search__results__main {
                position: absolute;
                top: 100%;
                left: 0;
                background: #000;
                display: flex;
                flex-wrap: wrap;
                z-index: 999;
                width: 800px;
                transform: scale(.75) translate(-16.66666%, -16.66666%);
            }


            .search__bar__icon {
                position: absolute;
                right: 5px;
                height: 1rem;
                width: 1.5rem;
                opacity: .4;
            }

        }

        .search__bar__input {
            width: 280px;
            height: 35px;
            font-size: 1.3rem;
        }

        .search__bar__input:focus {
            border-radius: 0px;
        }
    }

}

.nav__bar__container__right {
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5rem;

    .nav__bar__container__right__decor {
        color: white;
        font-size: 2rem;
    }

    .nav__bar__container__right__link {
        color: white;
        font-size: 1.3rem;
        text-decoration: none;
    }
}



@media screen and (max-width: 768px) {

    //TABLETS
    .nav__bar__main {
        height: auto;
    }

    .nav__bar__container {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;

        .home__button {
            margin-left: 5px;
        }

        .nav__bar__container__left {
            height: 5rem;
            margin-left: 0;

            .search__bar__container {
                height: 100%;
                width: 90%;
                margin-left: 0;

                .search__results__main {
                    width: 400px;
                }

                .search__bar__icon {
                    margin-right: 15px;
                }

                .search__bar__input {
                    width: 90%;
                }
            }

        }

        .nav__bar__container__right {
            margin-right: 0;
            height: 5rem;

            .nav__bar__container__right__decor {
                display: none;
            }

            .nav__bar__container__right__link {
                border: 1px solid white;
                width: 7rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;

            }
        }
    }
}

@media screen and (max-width: 576px) {

    //PHONES
    .nav__bar__container {


        .home__button {
            margin-left: 5px;
            font-size: 25px;
        }
    }
}